/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Essa atualização muda a cor de fundo do mat-slider do app-component
.mdc-slider__track--active_fill {
  border-color: chartreuse !important;
}
